/* Reset & base styles */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #eee;
  --glassbackground: rgba(255, 255, 255, 0.3);

  --textBoldColor: #7b7979;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --body-font: "Inter", sans-serif;

  --accent-color: #4a90e2;
  --accent-color-light: #7fb3f0;
  --accent-color-dark: #1c4f8a;
  --accent-color-darker: #164070;
  --background-color: #f0f4f8;

  --boxBackground: rgba(255, 255, 255, 0.7);
  --boxBorderColor: var(--accent-color);
  --boxEvenBackground: rgb(61, 130, 201);
  --boxEvenBorderColor: var(--accent-color-dark);
  --boxHoverBackground: rgba(255, 255, 255, 0.9);
  --boxBorder: rgba(255, 255, 255, 0.15);

  --text-gradient-color: linear-gradient(90deg, #4a90e2, #004358);
  --section-title-gradient: linear-gradient(135deg, #004358, #4a90e2);
  --section-title-underline-gradient: linear-gradient(135deg, #4a90e2, #004358);

  --text-color: #333;

  --paragraph-color: #555;
  --text-color-light: #666;
  --shadow-color: rgba(0, 0, 0, 0.15);
}
body {
  font-family: var(--body-font);
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Headings */
h1,
h2 {
  font-family: var(--primary-font);
}

h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

/* Body text */
body,
p,
a,
li,
span {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.6;
}

/* Wave animation */
#wave-section {
  position: relative;
  height: 300px;
  overflow: hidden;
  background: #0a0d15;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wave-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.wave-bg svg {
  width: 200%; /* double width for smooth loop */
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  fill: #726008;
  opacity: 0.6;
}

.wave-group {
  animation: waveLoop 30s linear infinite;
}

@keyframes waveLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* moves left by half, seamless */
}

/* Content styling */
.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
}

section {
  min-height: 100vh;
}

/* Simple section titles */
section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}
